!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title Helios 🚀
    %meta{name: "author", content: "Mattt Thompson"}
    %meta{name: "description", content: ""}
    %link{rel: "stylesheet", href: "/css/screen.css", type: 'text/css', media: "screen", charset: "utf-8"}

    %meta{property: "og:title", content: "Helios.io"}
    %meta{property: "og:url", content: "http://helios.io"}
    %meta{property: "og:image",  content: "http://helios.io/images/astrodog.png"}
    %meta{property: "og:site_name", content: "Helios.io"}
    %meta{property: "og:description", content: "Helios is an open-source framework that provides essential backend services for iOS apps"}

  %body
    %div{role: 'container'}
      = yield

      %a#github{href: "https://github.com/helios-framework/helios"}
